:root {
    --corClaro: #FFF;
    --corFundo: #e7e4e5;
    --corEscuro: #c9cecf;
    --corMaisEscuro: #616b63;
    --corTexto: #0e0c0c;
    --invert: 0
}

section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

header {
    background: white;
}

h1 {
    color: var(--corTexto);
}

dialog {
    background: var(--corClaro);
}

dialog::backdrop {
    backdrop-filter: blur(10px);
}

/*=============== section Jogo =================*/

#sectionJogo header {
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 0 0 var(--corEscuro);
    display: flex;
    justify-content: space-between;
    max-height: 20dvh;
}

#sectionJogo header div {
    height: 100%;
    border: red solid 1px;
}

#sectionJogo header div img {
    max-height: 80%;
    max-width: 100%;
} 

#areaFelps {
    height: 100%;
    width: 100%;
    background: var(--corFundo);

}

#gridControles {
    background: var(--corClaro);
    z-index: 10;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(3.5rem);
    transition: transform 0.1s linear;
    padding: 0 var(--espaco);
    border-radius: 15px 15px 0 0;
    animation: controles 3s infinite;
}

#gridControles span {
    background: var(--primary);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
}

#gridControles div.wrapperBotoes {
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 0 0.5rem 0;
}

#gridControles:hover {
    transform: translateY(0);
}

#gridControles button {
    width: auto;
    height: auto;
}

/*=============== Resultado Modal =================*/

#resultadoModal div.wrapper {
    height: 100%;
    width: 100%;
}

@keyframes controles {
    0% {
        box-shadow: var(--primary) 0 0 0 0;
    }
    50% {
        box-shadow: var(--primary) 0 0 20px 0;
    }
    90% {
        box-shadow: transparent 0 0 20px 0;
    }
}