section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#areaFelps {
    height: 100%;
    width: 100%;
}

/*=============== section Jogo =================*/