:root {
    --escalaFelps: 1;
    --corPrincipal: #ff3c64;
    --margem: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p, button {
    font-family: 'Comic Sans MS';
}

header {
    background: var(--corPrincipal);
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--margem);
}

button {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: var(--corPrincipal);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
}

/* ========Estilos específicos========== */

header h1, #catalogoModal h1 {
    color: white;
}

footer p {
    color: #797979;
    font-size: 1.25rem;
    z-index: 10;
}

section#areaAtlas {
    margin: var(--margem);
    width: 60%;
    height: 100%;
    position: relative;
}

div#areaBotoes {
    position: absolute;
    right: 0;
    margin-top: calc(5rem + var(--margem));
    margin-right: var(--margem);
}

#infoModal {
    width: 30%;
    height: auto;
    right: 0;

}

#infoModal div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#catalogoModal {
    width: 60%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow: scroll;
    background: var(--corPrincipal);
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

#catalogoModal header {
    color: white;
    position: relative;
    background: transparent;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--margem);
}

#catalogoModal button {
    position: absolute;
    right: 0;
    margin-right: var(--margem);
    box-shadow: 0 0 0 0;
}

#catalogoModal::-webkit-scrollbar {
    display: none;
}

#catalogoModal div.wrapper {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 8rem);
    gap: 0.25rem;
    padding: var(--margem);
    justify-content: space-between;
}

.clicavel {
    cursor: pointer;
    transition: filter 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.clicavel:hover {
    filter: brightness(1.5); 
    z-index: 5;
    scale: 1.1;
}

.felps {
    scale: var(--escalaFelps);
    position: absolute;
}

.felps.clicavel:hover {
    scale: calc(var(--escalaFelps) + 0.05)
}

.itemCatalogo {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: scale 0.2s ease-in-out;
}

.felpsCatalogo {
    display: flex;
    justify-content: center;
    position: relative;
    height: 8rem;
}