:root {
    --corClaro: #FFF;
    --corFundo: #e7e4e5;
    --corEscuro: #c9cecf;
    --corMaisEscuro: #616b63;
    --corTexto: #0e0c0c;
    --invert: 0
}

:root {
    --text: #030202;
    --background: #f0efef;
    --backgroundOpacity: rgba(240, 239, 239, 0.8);
    --primary: #ff3c64;
    --secondary: #e4e3e3;
    --primaryShade: #d30931;
    --accent: #b5acac;
}

dialog::backdrop {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #030202;
        --background: #f0efef;
        --backgroundOpacity: rgba(240, 239, 239, 0.8);
        --primary: #ff3c64;
        --secondary: #e4e3e3;
        --primaryShade: #d30931;
        --accent: #b5acac;
    }

    dialog::backdrop {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(25px);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #f9f4f4;
        --background: #100f0f;
        --backgroundOpacity: rgba(16, 15, 15, 0.8);
        --primary: #ff3c64;
        --secondary: #1d1b1b;
        --primaryShade: rgb(255, 100, 131);
        --accent: #544a4a;
        --invert: 1;
    }

    dialog::backdrop {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(25px);
    }
}

body {
    background: var(--background);
    display: flex;
    justify-content: center;
    background-color: var(--background);
    background-size: 80px 80px;
    background-image: repeating-linear-gradient(45deg, var(--accent) 0, var(--accent) 4px, var(--background) 0, var(--background) 50%);
    animation: fundo 1000s infinite linear;

}

form {
    font-family: 'Comic Sans MS';
    font-size: 1.25rem;
    color: var(--text);
    height: 100%;
    width: 80%;
}

fieldset {
    width: 100%;
    border-radius: 15px;
}

section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

header {
    width: 100%;
    background: var(--background);
}

h1 {
    color: var(--text);
}

h3 {
    font-size: 1.25rem;
    color: var(--accent);
    font-weight: normal;
    font-family: 'Comic Sans MS';
}

button.menu {
    font-weight: bold;
    position: relative;
    width: 100%;
    margin: var(--espaco) 0;
    background-color: var(--secondary);
    border-radius: 15px;
    box-shadow: 0 5px 0 0 var(--accent), 0 10px 10px 0 var(--accent);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button.menu:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 0 var(--accent);
}

button.menu img {
    padding: 0.5rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}

dialog {
    background: var(--background);

    & header {
        background-color: var(--primary);
        box-shadow: 0 5px 0 0 var(--primaryShade);
    }
}

/*=============== section Inicial =================*/

#sectionInicial {
    overflow: auto;
    padding: var(--espaco);
    padding-bottom: 0;
    width: auto;
    max-width: 100dvw;
    height: 100%;
    background: var(--backgroundOpacity);
    backdrop-filter: blur(4px);
    box-shadow: var(--accent) 0 0 100px -30px;
}

#sectionInicial p#subtitulo {
    margin: var(--espaco);
    max-width: 80%;
    text-align: center;
}

#sectionInicial button#botaoInfoAcheOFelps {
    position: absolute;
    left: 80%;
    top: var(--espaco);
    width: 2rem;
    height: 2rem;
}

#sectionInicial button#botaoInfoAcheOFelps img {
    max-width: 2rem;
}

#sectionInicial form div.wrapper {
    padding: var(--espaco) 0;
}

#sectionInicial form fieldset {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: var(--secondary);
    border: none;
    position: relative;
}

#sectionInicial form fieldset legend {
    color: var(--text);
    position: absolute;
    transform: translateY(-100%);
    bottom: 0.5rem;
    font-size: 1rem;
}

#sectionInicial form fieldset div.divInputIndividual {
    position: relative;
    width: 100%;
}

#sectionInicial form fieldset div:first-of-type input {
    border-radius: 15px 0 0 0;
    border-top: solid 1px var(--primary);
    border-left: solid 1px var(--primary);
}

#sectionInicial form fieldset div:last-of-type input {
    border-radius: 0 15px 0 0;
    border-top: solid 1px var(--primary);
    border-right: solid 1px var(--primary);
}

#sectionInicial form fieldset input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 100%;
    height: 100%;
    border-top: solid 1px var(--primary);
    background-color: var(--background);
    box-shadow: 0 5px 0 0 var(--accent);
}

#sectionInicial form fieldset input[type="radio"]:checked {
    background-color: var(--primary);
    box-shadow: 0 5px 0 0 var(--primaryShade);
}

#sectionInicial form fieldset input+label {
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    position: absolute;
    cursor: pointer;
    text-align: center;
}

#sectionInicial form fieldset input:checked+label {
    color: var(--background);
}

#sectionInicial form fieldset input:disabled+label {
    color: var(--accent);
    cursor: not-allowed;
}

#sectionInicial form div.descricao {
    border-radius: 0 0 15px 15px;
    background-color: var(--secondary);
    padding: var(--espaco);
    border: solid 1px var(--primary);
    border-top: none;
}

#sectionInicial form div.descricao p {
    font-size: 1rem;
    margin: 0;
}

/*=============== instruções Modal =================*/

dialog#instrucoesModal {

    >div.wrapper>div.wrapperConteudo {
        padding: 0 var(--espaco);
        display: flex;
        flex-direction: column;
        align-items: center;

        & div.wrapperTutorial {
            width: 100%;
            height: 20dvh;
            max-height: 20dvh;
            min-height: 5rem;
            position: relative;
            overflow: hidden;

            >div#wrapperTutorial1 {
                transform: translateX(-50%);
                left: 50%;
                position: absolute;
                height: 100%;
                width: 20%;
                animation: tutorial1 5s infinite ease-in-out;

                & img {
                    position: absolute;
                    height: 100%;

                    &:first-child {
                        transform: translateX(-50%);
                        left: 50%;
                    }

                    &:last-child {
                        height: 35%;
                        left: 50%;
                        top: 50%;
                    }
                }
            }

            &#wrapperTutorial2 {

                & img {
                    position: absolute;

                    &:first-child {
                        transform: translateX(-50%);
                        height: 100%;
                        left: 50%;
                    }

                    &:last-child {
                        height: 35%;
                        left: 80%;
                        top: 50%;
                        animation: tutorial2 5s ease-in-out infinite;
                    }
                }
            }

            div#gridControlesTutorial {
                border: solid 1px var(--primary);
                border-bottom: 0;
                background: var(--background);
                position: absolute;
                bottom: 0;
                left: 50%;
                display: flex;
                flex-direction: column;
                transform: translate(-50%, 4rem);
                transition: transform 0.1s linear;
                padding: 0 var(--espaco);
                border-radius: 15px 15px 0 0;
                animation: controles 3s infinite, tutorial3 5s ease-in-out infinite;

                >span {
                    background: var(--primary);
                    width: 100%;
                    height: 0.5rem;
                    border-radius: 0.25rem;
                    margin: 0.5rem 0;
                }

                >div.wrapperBotoes {
                    display: grid;
                    grid-auto-flow: column;
                    gap: 1.5rem;
                    padding: 0 0 0.5rem 0;

                    & button {
                        width: auto;
                        height: auto;
                    }
                }
            }
        }

        & span {
            font-weight: bold;
        }
    }
}

/*=============== voltar Menu Modal =================*/

dialog#voltarMenuModal {
    height: auto;

    >div.wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: var(--espaco);
        height: 100%;
        width: 100%;

        > h1 {
            margin: var(--espaco);
        }

        > div.gridBotoes {
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            gap: 1.5rem;
            padding: 0 0 0.5rem 0;

            & button {
                width: auto;
            }
        }
    }

}

/*=============== section Carregando =================*/

#sectionCarregando {
    background-color: var(--background);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*=============== section Contagem =================*/

section#sectionContagem {
    background-color: var(--background);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;

    > div#divContagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > h1 {
            font-size: 3rem;
        }
    }

    & img#exemploContagem {
        padding-top: var(--espaco);
        display: none;
        max-height: 40dvh;
    }
}

/*=============== section Jogo =================*/

#sectionJogo {
    height: 100dvh;
    overflow: hidden;

    & h1 {
        font-size: 2.25rem;
    }
}

#sectionJogo header {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    top: 0;
    min-height: 125px;
    width: 100%;
    height: 15dvh;
    background: var(--backgroundOpacity);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 0 0 var(--accent);
}

#sectionJogo header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionJogo header div#wrapperImagem {
    position: relative;
    height: 100%;

}

#sectionJogo header div#wrapperImagem img {
    height: 100%;
    max-height: 100%;
    position: absolute;
}

#sectionJogo header div#wrapperImagem img#felpsAlvoImagemFundo {
    scale: 1.5;
    animation: spin 15s linear infinite;
}

#sectionJogo header div#wrapperAlvo {
    display: grid;
    text-align: center;
    grid-auto-flow: row;
}

#sectionJogo header div#wrapperTimer {
    display: grid;
    grid-auto-flow: column;

    & h1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    & h1:last-child {
        color: var(--accent);
        font-weight: normal;
    }
}

#areaFelps {
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
    background-size: 80px 80px;
    background-image: repeating-linear-gradient(45deg, var(--accent) 0, var(--accent) 4px, var(--background) 0, var(--background) 50%);
    animation: fundo 2000s infinite linear;

}

#gridControles {
    border: solid 1px var(--primary);
    border-bottom: 0;
    background: var(--backgroundOpacity);
    backdrop-filter: blur(5px);
    z-index: 10;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(4rem);
    transition: transform 0.1s linear;
    padding: 0 var(--espaco);
    border-radius: 15px 15px 0 0;
    animation: controles 3s infinite;
}

#gridControles span {
    background: var(--primary);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
}

#gridControles div.wrapperBotoes {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    padding: 0 0 0.5rem 0;
}

#gridControles:hover {
    transform: translateY(0);
}

#gridControles button {
    width: auto;
    height: auto;
}

/*=============== Resultado Modal =================*/

dialog#resultadoModal {

    >div.wrapper {
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        min-height: 600px;

        >div.gridResultado {
            padding: var(--espaco);
            display: grid;
            grid-template-columns: 18em 1fr;
            min-height: 40dvh;
            min-width: 70%;
            max-width: 100%;


            >div.wrapperImagem {
                grid-row: 1 / 5;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: contain;

                    &#destaque {
                        animation: spin 15s linear infinite;
                    }

                    &#felpsHRes {
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        position: absolute;
                        padding: var(--espaco);
                    }
                }
            }

            >h1 {
                font-size: 2.5rem;
            }

            >h3 {
                font-size: 1.75rem;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
        }

        >div.gridBotoes {
            padding: var(--espaco);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 1rem;

            & button {
                margin: 0;

                &#botaoJogarNovamente {
                    grid-column: 1/3;
                }
            }
        }
    }
}

/*=============== Derrota Modal =================*/

dialog#derrotaModal {

    >div.wrapper {
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        >div.wrapperImagem {
            margin: var(--espaco);
            height: 60dvh;
            width: 80%;
            position: relative;

            & img {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                height: 100%;
                width: 100%;
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;

                &#felpsHResDerrota {
                    height: 50%;
                    bottom: 5%;
                    filter: saturate(0);
                }
            }
        }

        >div.gridBotoes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            padding: var(--espaco);
            gap: var(--espaco);

            & button {
                width: 100%;
                margin: 0;
            }

        }
    }
}

/* ========================================== */


button.felps img {
    transition: none;
}

button.principal {
    background-color: var(--primary);
    box-shadow: 0 5px 0 0 var(--primaryShade), 0 10px 10px 0 var(--accent);
}

button.principal:hover {
    box-shadow: 0 0 0 0 var(--primaryShade);
}

.confeti {
    animation: confetiY 10s linear, confetiSpin 1s linear infinite;
}


/* ========================================== */

@keyframes fundo {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 6000%;
    }
}

@keyframes tutorial1 {
    0% {
        left: 20%;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 20%;
    }
}

@keyframes tutorial2 {
    0% {
        left: 80%;
    }

    30% {
        left: 50%;
    }

    35% {
        top: 50%;
    }

    40% {
        top: 55%;
    }

    45% {
        top: 50%;
    }

    50% {
        left: 50%;
    }

    80% {
        left: 80%;
    }
}

@keyframes tutorial3 {
    0% {
        transform: translate(-50%, 4rem);
    }

    40% {
        transform: translate(-50%, 4rem);
    }

    50% {
        transform: translate(-50%, 0);
    }

    90% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 4rem);
    }
}

@keyframes controles {
    0% {
        box-shadow: var(--primary) 0 0 0 0;
    }

    50% {
        box-shadow: var(--primary) 0 0 20px 0;
    }

    90% {
        box-shadow: transparent 0 0 20px 0;
    }
}

@keyframes contagem {
    0% {
        opacity: 1;
        scale: 5;
        transform: rotate(-45deg);
    }

    100% {
        opacity: 0.5;
        scale: 1;
        transform: rotate(25deg);
    }
}

@keyframes sombraInterna {
    0% {
        box-shadow: inset transparent 0 0 0 0;
    }

    5% { 
        box-shadow: inset var(--primary) 0 0 1rem 1rem;
    }

    100% {
        box-shadow: inset transparent 0 0 0 0;
    }
}

@keyframes hit {
    20% {
        transform: translateX(-5%);
    }

    40% {
        transform: translateX(5%);
    }

    60% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes confetiY {
    100% {
        top: 120%;
    }
}

@keyframes confetiSpin {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(-1);
    }

    100% {
        transform: scaleY(1);
    }

}