:root {
    --corClaro: #FFF;
    --corFundo: #e7e4e5;
    --corEscuro: #c9cecf;
    --corMaisEscuro: #616b63;
    --corTexto: #0e0c0c;
    --invert: 0
}

:root {
    --text: #030202;
    --background: #f0efef;
    --primary: #ff3c64;
    --secondary: #d6d6d6;
    --accent: #b5acac;
  }

@media (prefers-color-scheme: light) {
    :root {
      --text: #030202;
      --background: #f0efef;
      --primary: #ff3c64;
      --secondary: #d6d6d6;
      --accent: #b5acac;
    }
  }

body {
    background: var(--background);
}
  
form {
    color: var(--text);
}

section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

header {
    background: var(--background);
}

h1 {
    color: var(--text);
}

dialog {
    background: var(--background);
}

dialog::backdrop {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
}

/*=============== section Carregando =================*/

#sectionCarregando {
    background-color: var(--background);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*=============== section Contagem =================*/

#sectionContagem {
    background-color: var(--background);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #divContagem {

} */

/*=============== section Jogo =================*/

#sectionJogo header {
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 0 0 var(--accent);
    display: flex;
    justify-content: space-between;
    max-height: 20dvh;
}

#sectionJogo header div {
    height: 100%;
    border: red solid 1px;
}

#sectionJogo header div img {
    max-height: 80%;
    max-width: 100%;
} 

#areaFelps {
    height: 100%;
    width: 100%;
    background: var(--secondary);

}

#gridControles {
    background: var(--background);
    z-index: 10;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(3.5rem);
    transition: transform 0.1s linear;
    padding: 0 var(--espaco);
    border-radius: 15px 15px 0 0;
    animation: controles 3s infinite;
}

#gridControles span {
    background: var(--primary);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
}

#gridControles div.wrapperBotoes {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    padding: 0 0 0.5rem 0;
}

#gridControles:hover {
    transform: translateY(0);
}

#gridControles button {
    width: auto;
    height: auto;
}

/*=============== Resultado Modal =================*/

#resultadoModal div.wrapper {
    height: 100%;
    width: 100%;
}

button.felps img {
    transition: none;
}

@keyframes controles {
    0% {
        box-shadow: var(--primary) 0 0 0 0;
    }
    50% {
        box-shadow: var(--primary) 0 0 20px 0;
    }
    90% {
        box-shadow: transparent 0 0 20px 0;
    }
}

@keyframes contagem {
    0% {
        opacity: 1;
        scale: 5;
        transform: rotate(-45deg);
    }
    100% {
        opacity: 0.5;
        scale: 1;
        transform: rotate(25deg);
    }
}