div#displayTutorial2024 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;

    >img {
        width: 40vw;
        max-height: 40vh;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        aspect-ratio: 2 / 1;
    }

    >footer {
        margin: 0;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        position: unset;
        box-shadow: 0 5px 0 0 var(--accent);
        border-radius: 0 0 15px 15px;

        >button:first-child {
            border-radius: 0 0 0 15px;
        }

        >button:last-child {
            border-radius: 0 0 15px 0;
        }

        >button,
        >div {
            padding: 0.5rem 0;
            width: 100%;
            background-color: var(--primary);
            height: 100%;
        }

        >button {
            transition: background-color 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;

            >img {
                transition: transform 0.2s ease-in-out;
                margin: auto 0;
            }

            &:first-child img {
                transform: rotate(-90deg);
            }

            &:last-child img {
                transform: rotate(90deg);
            }

            &:hover {
                background: var(--background);
                box-shadow: inset 0 5px 0 0 var(--accent);

                &:first-of-type img {
                    transform: translate(0, 5px) rotate(-90deg);
                }

                &:last-of-type img {
                    transform: translate(0, 5px) rotate(90deg);
                }
            }
        }

        >div {
            display: grid;
            grid-auto-flow: row;
            justify-content: center;

            >a {
                margin: auto;
                display: inline;
                text-align: center;
            }

            >div {
                display: flex;
                justify-content: center;
                align-items: center;

                >h2 {
                    margin: auto;
                    display: inline;
                    text-align: center;
                }

                >input#inputPasso {
                    border-radius: 15px;
                    display: inline;
                    border: 0;
                    background-color: var(--accent);
                    color: var(--text);
                    font-family: var(--fontes);
                    width: 3rem;
                    font-size: 1.25rem;
                    font-weight: bold;
                    text-align: center;
                    margin-left: 0.5rem;
                    -moz-appearance: textfield;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    div#displayTutorial2024 {
        >img {
            width: 80vw;
        }
    }
}